@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* MAIN */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
  font-family: 'Lato', sans-serif;
}

/* FONTS */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.75rem;
  font-family: 'Lexend', sans-serif;
}

P {
  margin-bottom: 0.75rem;
  font-size: 18px;
  color: #5e5e5e;
}

b,
strong {
  font-weight: bold;
}

.container p a {
  color: #ffa500;
}

/* PRIMARY NAV */
.primary-nav ul li {
  padding: 10px;
}

.primary-nav ul li:nth-child(even) {
  background-color: #ededed;
}

/* DESKTOP PRIMARY NAV */
.desktop-primary-nav ul li {
  display: inline;
  padding-right: 50px;
}

.desktop-primary-nav ul li a {
  font-weight: 600;
}

/* EXPERT FORM */
.gfield_label {
  text-transform: uppercase;
  font-size: 0.75rem!important;
}

.gfield input.large,
textarea.large {
  border: 0px!important;
  background-color: #f9fafb!important;
  border-bottom: 1px solid #FF69B4 !important;
}

.button {
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
  padding-top: 0.375rem!important;
  padding-bottom: 0.375rem!important;
  border-radius: 0.375rem!important;
  display: inline-block!important;
  border: 2px solid #FF69B4!important;
  background-color: #FF69B4!important;
  color: white!important;
  font-weight: 600!important;
}

/* EXPERTISE TABLE */
.expertise-table tr:nth-child(even) {
  background-color: #f9fafb;
}

/* FACET WP */
.facetwp-facet {
  margin-bottom: 0px !important;
}

.facetwp-facet .fs-wrap {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.facetwp-facet .fs-wrap .fs-label-wrap {
  border-radius: 0.5rem;
}

.facetwp-facet .fs-wrap .fs-label {
  padding: 0.625rem;
}

/* Blog */
.blog h1 {
  font-size: 36px;
}

.blog h2 {
  font-size: 30px;
  font-weight: 700;
}

.blog p em {
  font-size: 14px;
}

/* Popup contact */
.popup-contact .gfield input.large, 
.popup-contact textarea.large {
  border-bottom: 2px solid #ffa500 !important;
}

.popup-contact .gform_button {
  background-color: #FF69B4!important;
  border-color: #FF69B4!important;
}

/* Expert card */
.expert-card .expert-card__image {
  border-radius: 25px;
}

/* Blog card */
.blog-card .blog-card__image {
  border-radius: 25px;
}

/* Single blog */
.single-blog .single-blog__container {
  max-width: 500px;
}

.single-blog .single-blog__undertitle {
  font-size: 14px;
}

.single-blog p {
  font-size: 18px;
}

.single-blog i {
  font-size: 14px;
}

/* Contact */
.contact .contact__container {
  max-width: 1150px;
}

/* Page */
.page .page__container {
  max-width: 1150px;
}