@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* MAIN */

/* FONTS */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.75rem;
}

P {
  margin-bottom: 0.75rem;
  color: #5e5e5e;
}

/* PRIMARY NAV */
.primary-nav ul li {
  padding: 10px;
}

.primary-nav ul li:nth-child(even) {
  background-color: #ededed;
}

/* DESKTOP PRIMARY NAV */
.desktop-primary-nav ul li {
  display: inline;
  padding-right: 50px;
}

.desktop-primary-nav ul li a {
  font-weight: 600;
}
